/* Mobile Portrait View */
@media screen and (max-width:767px) {
.left, .right{ float:none;}
.sitewrapper { overflow:hidden;}
.boxlayout{ width:auto; margin:0 20px; box-sizing:border-box;}
.container, section#featureservices .container, section#latestposts .container, #ourgallery .container{ width:auto; padding:0 20px;}
.header{ padding:10px 0; position:relative;}
.header_right{ float:none; text-align:center; width:auto; }
.header-top .right{ text-align:center;}
.header-top{ text-align:center; line-height:normal; padding:10px 0;}
.header-top .social-icons a{ border:none;}
.header-top .left span{ float:none; display:inline-block;}
.headerinfo{ padding:10px 0;}
.logo{ width:auto; float:none; text-align:center; padding:0;}
/*slider css*/
.nivo-controlNav{ display:none !important;}
.nivo-caption{ width:80% ; }
.nivo-caption p{ display:none !important;}
.nivo-caption .button{ display:none !important;}
.nivo-caption h2{ font-size:20px !important; line-height:24px !important;}
.welcomebx{ width:100%;}

.news-thumb, .news{position:relative; height:auto;min-height:inherit; top:inherit; left:inherit; right:inherit; float:none; width:100%; box-sizing:border-box; text-align:left !important; }
.news-box .news-thumb img{ min-height:inherit;}
.news-box{ width:100%; float:none; min-height:inherit; margin-bottom:5%;}


.fourbox{ width:auto; float:none; margin:0 0 20px;}
h2.section_title{ font-size:22px !important; padding-bottom:20px;}
#whoweareasection img{ float:none; margin:0 0 20px; height:auto;}
.fourbox .thumbbx{ height:auto;}
.one_third .ftrimgbx{ height:auto;}
.counterlist{ float:none; margin:0 auto; width:100%; }
/*coloumn css*/ 
.one_half, .one_third, .two_third, .one_fourth, .three_fourth, .one_fifth, .four_fifth, .services-col, .services-wrap .one_third, #wrapperthree .one_half, .themefeatures .one_half{float:none !important; width:100% !important; margin:0 0 30px !important;}
.themefeatures .one_half .fa { display: block; float:none !important;margin: 0 auto 10px auto; min-height:inherit;}
.themefeatures .one_half{text-align: center; }
.innerbanner{ height:auto;}

/*gallery css */
ul.portfoliofilter li a{ padding:5px !important; font-size:12px !important;}
.fourcol .entry{ width:auto !important;}
.tabs-wrapper ul.tabs li a{ padding:10px 14px}
.footer .social-icons a{ margin-right:3px;}

.team_column{ width:280px; margin:0 auto 5% auto; display:block; float:none; vertical-align:top;  }
.section-teammember {text-align: center;}
.teammember-list{ width:auto; float:none; margin:0 0 10%; text-align:center;}
.team-thumb-icons .member-social-icon{ opacity:1;}
.member-social-icon a{ margin:0 5px;}
.ourteam-thumb, .ourteam-thumb img{ height:auto; min-height:inherit; vertical-align:top; width:100%;}
.teammember-content{ width:100%;}
/*sidebar css*/
#sidebar{ width:100%; float:none;}
.sidebar-left{ float:none !important; width:100%;}
.flotRight{ float:none !important;}
#sidebar .services-col .services-content{ padding:8% 11.5%;}
#sidebar #contactform_main input[type=text], #sidebar #contactform_main input[type=email], #sidebar #contactform_main input[type=tel],#sidebar #contactform_main input[type=url], #sidebar #contactform_main textarea{width:85%; }

.testimonials-wrap h2.section_title{ margin-bottom:10px; font-size:20px;}
.testimonials-wrap .owl-prev{ right:11%;}

/* --------- Pages ------- */
.content-area{ width:auto; margin:0; padding:20px;}
.site-main{ width:auto; margin:0; padding:0; float:none;}
.contact_left, .contact_right{ float:none; width:100%; margin-bottom:10%;}
.copyright-txt, .design-by { text-align:center; float:none;}
#contactform_main input[type="text"], 
#contactform_main input[type="email"], 
#contactform_main input[type="tel"], 
#contactform_main input[type="url"], 
#contactform_main textarea{
width:90%;
}

/*custom css*/
.searchbox{ width:100%; padding-left:0;}
.item{padding-left:0; width:auto;}
ol.nav-numbers{ display:none;}
#testimonials ul li .tm_description p{ text-align:left;}
.phone-no strong{ width:auto; display:inherit;}

/*footer css */
.footer{ padding:40px 20px;}
.cols-2 .widget-column-1, 
.cols-2 .widget-column-2, 
.cols-3 .widget-column-1, 
.cols-3 .widget-column-2, 
.cols-3 .widget-column-3, 
.cols-4 .widget-column-1, 
.cols-4 .widget-column-2, 
.cols-4 .widget-column-3, 
.cols-4 .widget-column-4{ 
width:auto !important; float:none; min-height:inherit; margin:0 0 30px; 
}
.container.footer { padding:50px 20px;}
.slider-main{ min-height:115px;}
.our-recruiters li{ width:43%;}
.header.fixed{ position:relative;}
.skills-wrap{ width:auto;}
.promo-left, promo-right{ width:100%; float:none; display:block;}
.promo-right .morebutton{ position:relative; top:20px; transform:none; display:inline-block; }
.holderwrap:hover h5{ display:none !important;}

.servicesbox{ width:100%; float:none; margin:0 0 5% 0}
.tourtypebox{ float:none; margin:0 auto 5% auto}
.end, .last{ margin:0 auto 5% auto !important ; }
.item .left{ float:left;}
.item .right{ float:right;}

.owl-prev{ left:35% !important}
.owl-next{ right:35% !important}

.whychooseusbox{ width:100%; float:none; margin:0 0 5% 0;}

.recentproject_list .item .pro-thumb {height:170px;}
.recentproject_list .item .pro-thumb img{min-height:170px;}
.recentproject_list .owl-controls .owl-dots{ bottom:-15px;}
.bytheme{ width:100%;} 
.fourbox .thumbbx{ height:115px;}
.fourbox .thumbbx img{ min-height:115px;}




}
@media screen and (min-width:300px) and (max-width: 480px){
.say_thumb{ float:none; position:inherit; left:0; display:table; margin:0 auto; width:auto;}
.blog-post-repeat .post-thumb img{ float:none; margin-right:0; width:100%; height:100%;}
.teammember-list .thumnailbx{ height:auto; visibility:visible;}
.menugallery li{ min-height:60px;}
.slider-main{ min-height:110px; height:auto;}
.nivo-directionNav a{ top:35%;}
.fivecol .entry{ width:auto !important}
.nivo-caption h2{ font-size:22px !important; line-height:24px !important; } 
.recentproject_list .item .pro-thumb {height:270px;}
.recentproject_list .item .pro-thumb img{min-height:270px;}
}
@media screen and (min-width:481px) and (max-width: 767px){
.container, .content-area, #ourservices .container{ width:400px; margin:0 auto;}
.teammember-list .thumnailbx{ height:auto; visibility:visible;}
.slider-main{ height:auto; min-height:200px;}
.team_column{display:inline-block!important; width:300px!importantsssss;}
.ourteam-thumb{ height:350px;}
.ourteam-thumb img{ min-height:350px;}
 
.owl-prev{left:40.5% !important}
.owl-next{right:40.5% !important}
.owl-controls{margin-top: 40px;}

}
@media screen and (min-width:420px) and (max-width: 480px){
.nivo-caption h2{ font-size:24px !important; line-height:30px !important;}
.fourcol .entry{ left:6% !important;}
ul.portfoliofilter li a{ font-size:12px !important; padding:7px 12px !important;}
}


/* Mobile Landscape View */
@media screen and (min-width:481px) and (max-width: 767px){	
.photobooth .filter-gallery ul li a{ padding:15px 15px 18px;}
.headertop .left{ float:left;}
.headertop .right{ float:right;}
.headertop{ padding-bottom:0;}
/*slider css*/
.nivo-caption h2{ font-size:30px !important; line-height:40px !important; margin-bottom:10px !important; } 
.nivo-caption p{ display:block !important; line-height:18px;}
.nivo-caption, .nivo-controlNav{ display:block !important;}
h2.section_title{font-size:30px !important}	
}
@media screen and (min-width:481px) and (max-width: 615px){
.nivo-caption{ width:70%; bottom:10%;}
.nivo-caption h2{ font-size:20px !important;}
}

/* Tablet View */
@media screen and (max-width:1169px) and (min-width:768px) { 
.container { width:auto; padding:0 20px;}
.container.footer { padding:50px 20px;}
.boxlayout{ width:auto; margin:0 20px; box-sizing:border-box;}
.content-area{ width:auto; margin:0; padding:20px 20px;}
.team-thumb-icons .member-social-icon{opacity:1;}
.member-social-icon a{ margin:0 2px 0 0;}
.testimonials-wrap .owl-prev{ right:4.5%;}
.footer h5{ font-size:16px !important;}
#sidebar{ width:30%;}
.site-main{ width:65%;}
.slider-main{ min-height:290px; height:auto;}
.innerbanner{ height:auto;}
/*custom  css*/
.BlogPost{ min-height:250px;}
.recent-post h6{ padding-top:7px;}
ol.nav-numbers{ bottom:10%;}
.sidebar-left{ float:left !important; width:30%;}
.sidebar-left #sidebar{ width:100%;}
.our-recruiters li{ width:17%;}
.box1, .box2{ width:100%; height:auto;}
.tourtypebox{ width:175px; height:175px; margin:1%;}
.whychooseusbox {margin: 0 6px 20px;}
.counterlist .fa{ margin-top:10px;}
.recentproject, .bytheme{ width:100%;}

}

@media screen and (min-width:768px) and (max-width: 980px){
.logo{ float:none; text-align:center; width:auto;}
.header{ position:relative;}
.header_right{ float:none; width:auto; padding:0 0 10px 0;}
.headerinfo{ padding-bottom:10px;}
.nivo-caption{ bottom:20%;}
.nivo-controlNav{ bottom:0;}
.teammember-list .thumnailbx{ height:200px;}
.welcomebx{ width:auto;}
.fourbox h3{ font-size:14px;}
 
.fourbox .thumbbx {height:115px;}
.fourbox .thumbbx img{min-height:115px;}
.nivo-caption h2{ font-size:30px !important; line-height:30px !important;}

.news-box .news-thumb{ height:190px;}
.news-box .news-thumb img{ min-height:190px;}
.member-social-icon{ top:70%;}
.themefeatures .one_third{ width:29%;}
.one_third .ftrimgbx{ height:100px;}
.counterlist{ margin:0 17px;}
.news{ padding:15px;}
.commentheart{margin-top:-5px; padding:5px 8px;}
.fourbox.six_column .thumbbx{ height:95px;}
.fourbox.six_column .thumbbx img{ height:95px;}
.fourbox.six_column .pagecontent{ padding:0;}
.fourbox.three_column .thumbbx{ height:130px;}
.fourbox.three_column .thumbbx img{ min-height:130px;}
.fourbox.four_column .thumbbx{ height:100px;}
.fourbox.four_column .thumbbx img{ min-height:100px;}
.ourteam-thumb {height: 180px; width:100%;} 

.ourteam-thumb { height: 400px;}
.ourteam-thumb img{ min-height: 400px;}
#ourgallery .container{ padding:0;}
.team_column:hover .ourteam-thumb img{opacity:1;}
.teammember-content{ position:relative; width:100%; opacity:1;}
.team_column:hover .teammember-content{ top:0; transform:inherit; }

.counterlist .counter-cen{ width:155px; height:155px;}
section#featureservices .container{ padding:0;}
.servicesbox{ padding:25px;}
.services-title h4{ font-size:20px;}
#tourtype{ margin:0 auto; text-align:center; }
.sitewrapper { overflow:hidden;}
.tourtypebox { float:none; display:inline-block; height:225px; margin: 1%; width: 225px;}
}

@media screen and (min-width:768px) and (max-width: 868px){
.nivo-caption{ width:70%;}
}

@media screen and (max-width:1169px) and (min-width:981px) { 
html{overflow-x:hidden; }
.logo{ float:left; width:25%}
.header_right{ float:right; width:75%}
.footer h5{ font-size:24px !important;}
#ourgallery .container{ padding:0;} 
.nivo-caption{ width:55%; !important}
.news-box .PostMeta span{ font-size:11px;}
.ourteam-thumb, .ourteam-thumb img{ min-height:285px; height:285px;}
.team_column h5, .member-designation, .teammember-content p{ margin-bottom:5px;}
.member-social-icon a{ width:30px; height:30px;}
.teammember-content{ padding:10px;}
.counterlist{ margin:0 24px;}
}

@media screen and (max-width: 980px){	
section{ padding:40px 0;}
.toggleMenu{display: block;}
.sitenav{float:none; margin:0; top:0; position:relative; overflow-x:hidden;}
.sitenav ul{color:#000; width:100% !important; float:none !important; margin:0; padding:0;}
.sitenav ul li{border-top:1px #cccccc solid; display:block; float:none; text-align:left; border-right:none;}
.sitenav ul li a{padding:5px 10px !important; display:block; color:#000; text-align:left;}
.sitenav ul li a:hover{color:#ffffff;}
.sitenav ul li ul, .sitenav ul li ul ul{ display:block !important;}
.sitenav ul li ul li a:before{content:"\00BB \00a0";}
.sitenav ul li ul li{ border-bottom:1px solid transparent!important;}
.sitenav ul li ul li a{padding-left:20px !important;}
.sitenav ul li ul li ul li a{padding-left:30px !important;}
.sitenav ul li ul li ul li ul li a{padding-left:40px !important;}
.sitenav ul li:hover > ul{ background:none !important;}

.sitenav ul li:hover > ul{ background: transparent !important; width:auto !important; display:block; position: relative !important; left:0; right:0; top:0;}
.sitenav ul li:hover ul li ul, .sitenav ul li:hover ul li:hover > ul, .sitenav ul li:hover ul li:hover > ul li ul{  background: transparent !important; display:block; position:relative !important;  right:0; left:0; top:0;}
.sitenav ul li:hover ul li:hover ul, .sitenav ul li:hover ul li:hover ul li:hover ul{ left:0 !important;}
.logo img{ height:auto;}
.innerbanner{ height:auto;}
}